{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<link rel="stylesheet" type="text/css" href="{% static 'quiz/questions.css' %}">

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quiz</title>
        <script src="{% static 'quiz/questions.js' %}"></script>
    </head>
    <body style="background-image: url(' {{ image.path }} ');">  
            <div id="quizContainer">

                <!-- QUESTIONS COUNTER & QUESTION  -->

                <div id="header">

                    <h3 style="margin-bottom: 20px;">Domanda {{ questionNumber }} di 10</h3>
                    
                    <h2 style="margin-bottom: 20px;" id="qMobile">{{ question }}</h2>

                    <!-- EXPLANATION APPEARING AFTER ANSWER -->

                    <div id="explanation" style="display: none;">
                        <h2 id="correct"></h2>

                        <p id="explanationP" style="margin-bottom: 20px;">{{ question.explanation }}</p>
                    </div>

                </div>

                <!-- MULTIPLE CHOICES -->

                <div id="content">
                    <ul>
                        {% for answer in answers %}
                        <li>
                            <form class="boxed">
                                <input type="radio" id="{{ answer.id }}" class="question" name="{{ answer.correct }}" value="{{ answer.correct }}">
                                <label for="{{ answer.id }}"> {{ answer }} </label>
                                <span class="checkmark"></span>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- NEXT & VERIFIY BUTTONS -->

                <div id="footer">

                    <button data-question="{{ questionNumber }}" id="next" class="button" style="display: none;">Prossima domanda</button>
                    <button id="verify" class="button" style="display: none;">Verifica</button>

                    <p id="qNumber" style="visibility: hidden;">{{ questionNumber }}</p>

                </div>

            </div>
            
        </div>
    </body>
</html>