{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<link rel="stylesheet" type="text/css" href="{% static 'quiz/questions.css' %}">

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quiz</title>
        <script src="{% static 'quiz/questions.js' %}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="img-frame-vertical" style="background-image: white url('images/{{questionNumber}}v.jpg') no-repeat;">
                <h1 style="font-size:80px">Quanto ne sai sull'ambiente?</h1>
            </div>

            
            <div id="img-frame-horizontal"></div>

            <div id="quizContainer">
                <h3>Question {{ questionNumber }} of 10</h3>
                <h4 style="padding-top: 5xp;">{{ question }}</h4>

                {% for answer in answers %}
                <ul>
                    <li>
                        <form class="boxed">
                            <input type="radio" id="{{ answer.id }}" class="question" name="skills" value="{{ answer.correct }}">
                            <label for="{{ answer.id }}"> {{ answer }} </label>
                        </form>
                    </li>
                </ul>
                {% endfor %}

                <button data-question="{{ questionNumber }}" id="next" style="display: none;">Prossima domanda</button>
                <button id="verify" style="display: none;">Verifica</button>

                <p id="qNumber" style="visibility: hidden;">{{ questionNumber }}</p>

                <div id="explanation" style="display: none;">
                    <h2 id="correct"></h2>

                    <p id="explanation">{{ question.explanation }}</p>
                </div>

            </div>
            
        </div>
    </body>
</html>