
* {
    margin: 0;
    padding: 0;
}

/* PAGE LAYOUT */

body {
    background-size: cover;
    color: white;
    background-image: no-repeat;
   }


#quizContainer {
    text-align: center;
    width: 100%;
    height: 80%;
}

/* QUIZ LAYOUT */

#quiz {
    padding: 70px 0;
    text-align: center;
}

h3 {
    margin-top: 10px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 20px;
}

h2 {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 40px;
}

#explanation {
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

/* MULTIPLE CHOICE */

ul {
    list-style-type: none;
  }

li {
    margin: 15px;
}

.boxed label {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: solid 2px whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px;
    color: #4285F4;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
    z-index: -1;
}

.boxed input {
    position: relative;
    left: 30px;
    top: 3px;
    border-color: whitesmoke;
}

/* BUTTON */

.button {
    border: none;
    border-radius: 3px;
    height: 38px;
    font-size: medium;
    color: white;
    background-color: #4285F4;
    padding: 12px 28px;
    position: fixed;
    bottom: 100px;
    right: 100px;
  }
  
.button:hover {
    border: 0.5px solid rgb(197, 190, 190);
    border-radius: 3px;
    cursor: pointer;
}

.button:active {
    background-color: black;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* PAGE LAYOUT */

    #quizContainer {
        text-align: center;
        width: 100%;
        height: 100%;
    }
  }
